div.wrapper-container {
    border: 1px solid #000;
    p {
        text-align: left;
    }
    span.blog-title {
        margin-bottom: 10px;
        h1 {
            padding: 10px 10px 0;
        }
    }
    span.date {
        margin-bottom: 10px;
        p {
            font-size: $date-size;
            padding: 10px;
            margin: 0;
        }
    }
}

span.content {
    p {
        padding: 10px;
        margin: 0;
        &.paragraphClass {
            height: auto;
            max-width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0 auto;
            img.imgClass {
                width: 100%;
                height: auto;
                padding: 0;
                margin: 0;
            }
        }
        &.videoClass {
            width: 100% !important;
            height: auto !important;
            padding: 0;
        }
    }
}
