// @import "_global.scss";

@include special-breakpoint2{ // mobile

  .side-body {
    max-width: 70%;
    margin: 32px auto;
    overflow: hidden;
    border: none;

    .btn-group {
      @extend .btn-group;
      .btn {
        @extend .btn;
      }
    }
  }
  //end breakpoint
}
